
@model IEnumerable<TechHaven.Models.OrderDetail>

@{
    ViewData["Title"] = "Order Details";
}

<h1>Order Detail</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantaty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantaty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductName)
            </td>
            <td>
                   
                    
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Order DetailsID">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Order DetailsID">Delete</a>
                    
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Order DetailsID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
