@using TechHaven.Areas.Identity.Data
@model PaginatedList<TechHaven.Models.Suppliers>
﻿@using TechHaven.Models
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Suppliers";
}

<h1>Suppliers</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by Supplier Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SupplierNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Supplier Name</a>
            </th>
            <th>
                Supplier Contact
            </th>
            <th>
                Supplier Product
            </th>
            <th>
                Delivery Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTime)
            </td>
            <td>
                    
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.SuppliersID">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SuppliersID">Delete</a>
                    
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.SuppliersID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="pagination-container text-center mt-4">
    <a class="page-link btn btn-default @prevDisabled d-inline-flex"
       asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]">
        Previous
    </a>

    <span class="page-link mx-2 d-inline-flex">
        Page @Model.PageIndex of @Model.TotalPages
    </span>

    <a class="page-link btn btn-default @nextDisabled d-inline-flex"
       asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]">
        Next
    </a>
</div>
